name: Build
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_TEST_THREADS: "1"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dprint/check@v2.2
      - uses: pre-commit/action@v3.0.1

  build-macos:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15, macos-15-intel]
        backend: [ruy, accelerate]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.backend }}
          cache-on-failure: true
      - uses: actions/cache@v5
        with:
          path: ~/.cache/huggingface
          key: macos-test-data
      - name: Build
        run: cargo build -p ct2rs --no-default-features -F "all-tokenizers,whisper,hub,${{ matrix.backend }}"
      - name: Run tests
        run: cargo test -p ct2rs --no-default-features -F "all-tokenizers,whisper,hub,${{ matrix.backend }}" -- --include-ignored

  build-linux:
    strategy:
      fail-fast: false
      matrix:
        backend: [ruy, mkl, openblas, dnnl]
    runs-on: ubuntu-latest
    env:
      LIBRARY_PATH: /usr/lib/x86_64-linux-gnu

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.backend }}
          cache-on-failure: true
      - uses: actions/cache@v5
        with:
          path: ~/.cache/huggingface
          key: linux-test-data
      - name: Build
        run: cargo build -p ct2rs --no-default-features -F "all-tokenizers,whisper,hub,${{ matrix.backend }}"
      - name: Run tests
        run: cargo test -p ct2rs --no-default-features -F "all-tokenizers,whisper,hub,${{ matrix.backend }}" -- --include-ignored
        if: ${{ matrix.backend != 'mkl' && matrix.backend != 'dnnl' }}
  build-windows:
    strategy:
      fail-fast: false
      matrix:
        backend: [openblas, ruy, dnnl, mkl]
    runs-on: windows-latest
    steps:
      - uses: actions/cache@v5
        with:
          path: C:/vcpkg/installed
          key: cache-vcpkg-packages
      - name: Install OpenBLAS
        if: ${{ matrix.backend == 'openblas' }}
        run: |
          vcpkg install openblas:x64-windows-static
          vcpkg integrate install
          echo "CMAKE_INCLUDE_PATH=$env:VCPKG_INSTALLATION_ROOT/installed/x64-windows-static/include/openblas;$env:CMAKE_INCLUDE_PATH" >> $env:GITHUB_ENV
          echo "CMAKE_LIBRARY_PATH=$env:VCPKG_INSTALLATION_ROOT/installed/x64-windows-static/lib;$env:CMAKE_LIBRARY_PATH" >> $env:GITHUB_ENV
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.backend }}
          cache-on-failure: true
      - uses: actions/cache@v5
        with:
          path: ~/.cache/huggingface
          key: windows-test-data
      - name: Build
        run: cargo build -p ct2rs --no-default-features -F "all-tokenizers,whisper,hub,${{ matrix.backend }}"
      - name: Run tests
        run: cargo test -p ct2rs --no-default-features -F "all-tokenizers,whisper,hub,${{ matrix.backend }}" -- --include-ignored
        if: ${{ matrix.backend != 'mkl' }}

  docs:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: |
          cargo +nightly rustdoc -F whisper,hub -p ct2rs -- --cfg docsrs
          cargo +nightly rustdoc -F whisper,hub -p ct2rs-platform -- --cfg docsrs
